$grey: hsl(0, 0%, 59%);
$darkGrey: hsl(0, 0%, 17%);

$textInput: 1.8em;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .top {
        height: 39%;
        background: url('/images/pattern-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &_contents {

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            &--heading {
                margin-top: 0;
                padding-top: 1em;
                font-size: 3.5em;
                font-weight: 500;
                color: #fff;

                @media (max-width: 800px) {
                    font-size: 3em;
                }
            }

            &--input {
                position: relative;

                input {
                    width: 500px;
                    height: 45px;
                    border-radius: 10px;
                    border: none;
                    padding-left: 20px;
                    margin-bottom: 40px;

                    @media (max-width: 800px) {
                        width: 95%;
                    }
                    @media (max-width: 500px) {
                        width: 90%;
                    }
                }


                input:focus {
                    outline: none;
                }

                button {
                    cursor: pointer;
                    height: 47px;
                    width: 45px;
                    // border-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background-color: $darkGrey;
                    border: none;
                    transform: translateX(-100%) translateY(1px);

                    @media (max-width: 800px) {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 51px;
                        transform: translateX(0) translateY(0px);
                    }
                }

                button:focus {
                    outline: none;
                }

                button:hover {
                    background-color: lighten($color: $darkGrey, $amount: 7%);
                }

                @media (max-width: 800px) {
                    width: 90%;
                }
            }
        }

        &_results {
            position: absolute;
            z-index: 1000;
            right: 50%;
            transform: translateX(50%);
            width: 1200px;
            background: #fff;
            border-radius: 10px;
            padding: 40px 0;

            display: flex;

            &--section {
                height: 100%;
                width: 100%;
                border-right: 1px solid #eee;

                &:last-child {
                    border-right: none;
                }

                p {
                    color: $grey;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 500;
                    padding-left: 30px;
                    margin-top: 0;

                    @media (max-width: 800px) {
                        padding-left: 0px;
                    }
                }

                h2 {
                    padding-left: 30px;
                    color: $darkGrey;
                    font-size: 23px;

                    @media (max-width: 800px) {
                        padding-left: 0px;
                    }
                }
            }

            @media (max-width: 1200px) {
                width: 90%;
            }
            @media (max-width: 800px) {
                flex-direction: column;
                text-align: center;
                padding-bottom: 10px;
            }

        }

    }

    .map {
        height: 77%;
    }
}