body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: 'Rubik', sans-serif;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .top {
  height: 39%;
  background: url("/images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

section .top_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .top_contents--heading {
  margin-top: 0;
  padding-top: 1em;
  font-size: 3.5em;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 800px) {
  section .top_contents--heading {
    font-size: 3em;
  }
}

section .top_contents--input {
  position: relative;
}

section .top_contents--input input {
  width: 500px;
  height: 45px;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  section .top_contents--input input {
    width: 95%;
  }
}

@media (max-width: 500px) {
  section .top_contents--input input {
    width: 90%;
  }
}

section .top_contents--input input:focus {
  outline: none;
}

section .top_contents--input button {
  cursor: pointer;
  height: 47px;
  width: 45px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #2b2b2b;
  border: none;
  -webkit-transform: translateX(-100%) translateY(1px);
          transform: translateX(-100%) translateY(1px);
}

section .top_contents--input button .btn-image-hide {
  visibility: hidden;
}

section .top_contents--input button #spinner {
  visibility: hidden;
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

section .top_contents--input button #spinner.show {
  visibility: visible;
}

@media (max-width: 800px) {
  section .top_contents--input button {
    position: absolute;
    right: 0;
    top: 0;
    height: 51px;
    -webkit-transform: translateX(0) translateY(0px);
            transform: translateX(0) translateY(0px);
  }
}

section .top_contents--input button:focus {
  outline: none;
}

section .top_contents--input button:hover {
  background-color: #3d3d3d;
}

@media (max-width: 800px) {
  section .top_contents--input {
    width: 90%;
  }
}

section .top_results {
  position: absolute;
  z-index: 1000;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 1200px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .top_results--section {
  height: 100%;
  width: 100%;
  border-right: 1px solid #eee;
}

section .top_results--section:last-child {
  border-right: none;
}

section .top_results--section p {
  color: #969696;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  padding-left: 30px;
  margin-top: 0;
}

@media (max-width: 800px) {
  section .top_results--section p {
    padding-left: 0px;
  }
}

section .top_results--section h2 {
  padding-left: 30px;
  color: #2b2b2b;
  font-size: 23px;
}

@media (max-width: 800px) {
  section .top_results--section h2 {
    padding-left: 0px;
  }
}

@media (max-width: 1200px) {
  section .top_results {
    width: 90%;
  }
}

@media (max-width: 800px) {
  section .top_results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
  }
}

section .map {
  height: 77%;
}
/*# sourceMappingURL=style.css.map */